GOOGLE_PLACE_API_KEY=
NEXT_PUBLIC_BRANCHES={"northampton":{"dealerId":"10038946","placeId":"ChIJk8ugctcPd0gRU5Wdy5_U5Yk","allReviewsLink":"https://www.google.com/search?q=B%26F+Cars+Northampton","allReviewsLrd":"0x48770fd772a0cb93:0x89e5d49fcb9d9553,1,,,,","location":"Northampton","phone":"0330 165 89 04","mobile":"07864 329 740","email":"sales@bnfcarsnorthampton.co.uk","address":"Knightley Road, Northampton, NN2 6HQ"},"syston":{"dealerId":"10028885","placeId":"ChIJJVcKEAHfeUgRVMGmGqsIGNc","allReviewsLink":"https://www.google.com/search?q=syston+autos","allReviewsLrd":"0x4879df01100a5725:0xd71808ab1aa6c154,1,,,,","location":"Syston","phone":"03301 130 458","mobile":"07498 033 553","email":"sales@systonautosltd.co.uk","address":"Unit 10 Mill Lane Syston, Leicester, LE7 1NS"}}
